{% block panel %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2>Tile 1</h2>
                    <p>Content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2>Tile 2</h2>
                    <p>Content</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2>Tile 3</h2>
                    <p>COntent</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    
                    <h2>Tile 4</h2>
                    <p>Content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}