[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-spectacular = "*"
dj-rest-auth = "*"
django-allauth = "*"
pycodestyle = "*"

[dev-packages]

[requires]
python_version = "3.8"
