{% extends 'board/base.html' %}


{% load static %}


{% block title %}
    Your profile 
{% endblock title %}


{% block row %}
    {% include 'board/row.html' %}
{% endblock row %}


{% block navbar %}
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
{% endblock navbar %}
    

{% block content %}

    {% if type_updated %}

        {% if usertype == 'p' %}
            {% include 'panel/patient_panel.html' %}
        {% elif usertype == 'd' %}
            {% include 'panel/doctor_panel.html' %}
        {% elif usertype == 'c' %}
            {% include 'panel/director_panel.html' %}
        {% endif %}
        
    {% else %}
        profile update
        <a href="{% url 'apps.core:profile-update' user_pk %}" class="nav-link">Update profile</a>    
    {% endif %}
    
{% endblock content %}


